<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Reels</title>
</head>
<body>
    <div class="reelsbdy">
        <h1><b>Reels</b></h1>
    </div>
    <div class="parentreel">
        <% for(let i in reels){ %>
            <div class="reelsbox"></div>
        <%}%>
    </div>
</body>
</html>